// main
$type-main-black: #000000;
$type-main-white: #EDEDFF;

// Media Queries
$media-query-xs: "(min-width: 500px)";
$media-query-s: "(min-width: 620px)";
$media-query-m: "(max-width: 780px)";
$media-query-l: "(max-width: 1024px)";
$media-query-xl: "(min-width: 1280px)";